@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
}

.intro {
    display: grid;
    grid-template-columns: repeat(11, 9%);
    grid-template-rows: repeat(10, 10%);

}

.core,
.content,
.dark,
.calendar {
    scale: 0.8;
    grid-row: 4;
    margin-top: 30%;
    margin-left: -15%;
    transition: ease-in-out 0.15s;
}

.calendar {
    grid-column: 5;
}

.dark {
    grid-column: 6;
}

.content {
    grid-column: 7;
}

.core {
    grid-column: 8;
}

#club-title {
    font-style: normal;
    font-weight: 1000;
    text-align: center;
    font-size: 12vh;
    grid-column: 4/9;
    grid-row: 5/6;
}

#school-name {
    font-style: normal;
    font-weight: 700;
    font-size: 5vh;
    grid-column: 5/8;
    text-align: center;
    grid-row: 7/8;
    margin-top: -8%;
}

.core:hover,
.calendar:hover,
.content:hover,
.dark:hover {
    outline: none;
    scale: 1.2;
}

.events-page {
    background-color: #CACACA;
}

.about-us {
    background-color: #9A9A9A;
}

.core-committee {
    background-color: #545454;
}

.content-team {
    background-color: #202020;
}

.footer {
    background-color: #0E0E0E;
    height: 30vh;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-us-title {
    font-size: 7vh;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

#about-us-tagline {
    color: #232323;
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}

#about-us-content {
    font-weight: 700;
    width: 40vw;
    text-align: center;
    margin-inline: auto;
}

#core-committee-title {
    font-size: 7vh;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: #E8E8E8;
}

#core-committee-tagline {
    color: #D8D3D3;
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}

.events-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#events-title {
    font-size: 7vh;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

#events-tagline {
    color: #232323;
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}

.events-gallery-item {
    padding: 2rem;
    background: #EFEFEF;
    border-radius: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-item-image {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item-image img {
    width: 22vw;
    border-radius: 10px;
}

.gallery-item-title {
    color: #0E0E0E;
    font-size: 1.3em;
    text-align: center;
}

.gallery-item-tagline {
    color: #3E3E3E;
    text-align: center;
}

.cc-people {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cc-people-line1 {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;

}

.cc-people-line1 div{
    width: 15vh;
    height: 18vh;
    border-radius: 2vh;
    background: #868686;
}

/* our events carousel */

.events-gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 40vw);
	grid-template-rows: 1fr;
	grid-column-gap: 20vw;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 50vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	list-style: none;
}

.events-gallery::-webkit-scrollbar {
    display: none;
}
.events-gallery {
    -ms-overflow-style: none;
    scrollbar-width: none;
}