@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Sora', sans-serif; */

}

/*For variable colors (Just for the SVGs)*/
html[data-theme='dark'] {
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 0);

    /* first half */
    --color3: rgb(255, 255, 255);
    --color4: rgb(236, 236, 236);
    
    /* second half */
    --color5: rgb(0, 0, 0);
    --color6: rgb(35, 35, 35);
}

html[data-theme='light'] {
    --color1: rgb(0, 0, 0);
    --color2: rgb(255, 255, 255);
    
    /* first half */
    --color3: rgb(0, 0, 0);
    --color4: rgb(35, 35, 35);

    /* second half */
    --color5: rgb(255, 255, 255);
    --color6: rgb(236, 236, 236);
}


.path {
    fill: var(--color1);
}

/* disabling scrollbar */
*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* text selection colors */
.top-section *::-moz-selection { /* Code for Firefox */
    color: rgba(255, 255, 255, 1);
    background: rgba(126, 126, 126, 0.5);
}
.top-section *::selection {
    color: rgba(255, 255, 255, 1);
    background: rgba(126, 126, 126, 0.5);
}
.bottom-section *::-moz-selection { /* Code for Firefox */
    color: rgba(0, 0, 0, 1);
    background: rgba(126, 126, 126, 0.5);
}
.bottom-section *::selection {
    color: rgba(0, 0, 0, 1);
    background: rgba(126, 126, 126, 0.5);
}

/* smooth scrolling */
#container {
    scroll-behavior: smooth;
}

/*Main CSS starts here*/
body {
    font-family: 'Sora', sans-serif;
}

#container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(0, 0, 0); */
    overflow-y: scroll;
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.intro {
    display: grid;
    grid-template-columns: repeat(11, 9%);
    grid-template-rows: repeat(10, 10%);

}

.core,
.content,
.dark,
.calendar {
    scale: 0.8;
    grid-row: 3;
    margin-top: 30%;
    margin-left: -15%;
    transition: ease-in-out 0.15s;
}

.calendar {
    grid-column: 5;
}

.dark {
    grid-column: 6;
    cursor: pointer;
}

.content {
    grid-column: 7;
}

.core {
    grid-column: 8;
}

#club-title {
    color: var(--color4);
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 5.4em;
    grid-column: 2/11;
    grid-row: 4/6;
}

#school-name {
    color: var(--color4);
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    grid-column: 5/8;
    text-align: center;
    grid-row: 6/8;
    margin-top: -8%;
}

#club-tagline {
    color: var(--color4);
    font-style: normal;
    font-weight: 700;
    font-size: 7vh;
    grid-column: 5/8;
    text-align: center;
    grid-row: 6/8;
    margin-top: 1.5rem;
}

.core:hover,
.calendar:hover,
.content:hover,
.dark:hover {
    outline: none;
    scale: 1.2;
}

.events-page {
    background: transparent;
}

.about-us {
    background: transparent;
}

.core-committee {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content-team {
    background: transparent;
}

.footer {
    background: transparent;
    height: 30vh;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-us-title {
    color: var(--color3);
    font-size: 7vh;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

#about-us-tagline {
    color: var(--color4);
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}

#about-us-content {
    color: var(--color3);
    font-weight: 700;
    width: 40vw;
    font-size: 1.2em;
    text-align: center;
    margin-inline: auto;
    margin-top: 4rem;
}

#core-committee-title {
    color: var(--color5);
    font-size: 7vh;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

#core-committee-tagline {
    color: var(--color6);
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}

.events-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#events-title {
    color: var(--color3);
    font-size: 7vh;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

#events-tagline {
    color: var(--color4);
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}

.cc-people {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}

.cc-people-line1 {
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
}

.cc-people-line1 div {
    width: 120px;
    height: 140px;
    border-radius: 2vh;
}

.cc-people-line2 {
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
}

.cc-people-line2 div {
    width: 95px;
    height: 112px;
    border-radius: 2vh;
}

.cc-people-line3 {
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
}

.cc-people-line3 div {
    width: 75px;
    height: 88px;
    border-radius: 2vh;
}

.img-cc {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2vh;
}

.overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(255, 128, 149, 0.4);
    opacity: 0;
    transition: opacity 250ms;
}

.overlay:hover {
    opacity: 1;
}

#event-page {
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 60%;
}

.swiper-slide {
    text-align: center;
    padding: 1rem;
    background: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.swiper-slide img {
    border-radius: 1rem;
    display: block;
    height: 40vh;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.gallery-item-title {
    font-size: 1.6em;
    font-weight: 700;
    color: rgb(49, 49, 49);
}

.gallery-item-tagline {
    color: rgb(49, 49, 49);
}

.gallery-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-team {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#content-title {
    color: var(--color5);
    font-size: 7vh;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

#content-tagline {
    color: var(--color6);
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
}

#content-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-content img {
    border-radius: 2rem;
    height: 70vh;
}

/* footer */
.footer {
    margin-bottom: 2rem;
    padding-inline: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-logo img {
    height: 20vh;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-club-name {
    color: var(--color5);
    font-weight: 600;
    font-size: 3em;
}

.footer-school-name {
    color: var(--color6);
    font-weight: 400;
    font-size: 1.5em;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-tagline {
    color: var(--color5);
    text-align: right;
    margin-bottom: 1rem;
}

.footer-icons {
    color: var(--color6);
    display: flex;
    justify-content: right;
    font-size: 2em;
}

.footer-icons * {
    padding-inline: 1rem;
}

.footer-icons *:last-of-type { padding-right: 0; }

.footer-icons svg {
    scale: 0.1;
}

.footer-icons svg .path{
    fill: var(--color1);
}

.fa-house, .fa-youtube, .fa-instagram {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fa-house:hover {color: #868686;}
.fa-youtube:hover {color: #EC7262;}
.fa-instagram:hover {color: #c787e2;}


/* this is a diff section */
/* responsive ghapla */


/* tablets landscape */
@media(max-width: 1180px){
    #club-title {
        font-size: 6em;
    }

    #club-tagline {
        margin-top: 3rem;
    }

    .swiper-slide img {
        height: 36vh;
    }
}

/* tablets portrait */
@media(max-width: 820px){
    .core, .content, .dark, .calendar {
        scale: 1.0;
        grid-row: 5;
    }
    
    .intro {
        grid-template-rows: repeat(15, 6.7%);
    }

    #club-title {
        grid-row: 6/8;
        font-size: 7em;
    }

    #school-name {
        grid-row: 8/11;
    }

    #club-tagline {
        font-size: 6vh;
        grid-row: 8/11;
        grid-column: 3/10;
        margin-top: 4rem;
    }

    .swiper {
        height: 45%;
    }

    .swiper-slide img {
        height: 17vh;
    }

    .gallery-item-title {
        font-size: 1.9em;
    }

    .gallery-item-tagline {
        font-size: 1.2em;
    }
}